<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809992298112-hmousdimm5usj90mikgq3cfnrtmc3l9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809992298112-hmousdimm5usj90mikgq3cfnrtmc3l9q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809992298112-46dofh4ue4032pohbn9vicqpukeiime8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCckCnIu4Vjo42cUT_f1tVWF7nrCvDN1ug</string>
	<key>GCM_SENDER_ID</key>
	<string>809992298112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almurakib.saudiappstocks</string>
	<key>PROJECT_ID</key>
	<string>saudi-stock-monitor</string>
	<key>STORAGE_BUCKET</key>
	<string>saudi-stock-monitor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809992298112:ios:97717c64d19df538389065</string>
</dict>
</plist>